body{
    width: 60%;
    margin: auto;
    background: linear-gradient(to left, #ffb347, #ffcc33);
}
div.carousel{
    margin-top: 500px;
    background-color: rgb(255, 255, 255, 0.95);
    border: 2px black solid;
    border-radius: 15px;
}
.carousel-item, .active{
    padding-bottom: 75px;
    padding-top: 50px !important;
}
p{
    text-align: center;
    font-family: 'Unbounded', cursive;
}
.carousel-control-next-icon{
    color: black;
}
.carousel-control-prev-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }
.carousel-control-next-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

































































